html,
body {
    margin: 0;
    overscroll-behavior-y: contain;
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;

    * {
        font-family: Arial, Helvetica, sans-serif;
    }
}

@import "styles/my-ui/constants";
@import "styles/my-ui/display";
@import "styles/my-ui/margin";
@import "styles/my-ui/padding";
@import "styles/my-ui/background";
@import "styles/my-ui/button";
@import "styles/my-ui/alert";
@import "styles/my-ui/text";
@import "styles/my-ui/table";
@import "styles/my-ui/animations";

.app-body {
    height: 100%;
    width: 100%;
    @extend .sg-bg-main;
    overflow: auto;
}

a {
    text-decoration: none;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.mw-70 {
    max-width: 70%;
}

.z-index-1 {
    z-index: 1;
}

.rounded {
    border-radius: 5px;
}

.rounded-0 {
    border-radius: 0;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.zoom-animi {
    animation: zoom-in-out 2s infinite;
}

@keyframes zoom-in-out {
    50% {
        transform: scale(1.1);
    }
}

.my-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
}

.btn-shadow {
    box-shadow: 5px 5px 10px black;
}

.sg-b-shadow {
    box-shadow: 0 0 3px white;
}

.sg-border {
    border: 2px solid white;
}

.sg-border-primary {
    @extend .sg-border;
    border-color: $primary;
}

.sg-border-danger {
    @extend .sg-border;
    border-color: $danger;
}

.sg-border-warning {
    @extend .sg-border;
    border-color: $warning;
}

.sg-form {
    display: flex;
    flex-direction: column;
    padding: 5px;

    >* {
        margin: 5px;
    }

    label {
        margin: auto;
        color: white;
    }

    input {
        border-radius: 5px;
        border: none;
        padding: 5px;
        text-align: center;
    }

    button {
        margin: 10px auto;
        color: white;
        background: transparent;
        border-radius: 10px;
        box-shadow: 0 0 3px white;
        padding: 5px 10px;
    }
}

.sg-card {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    @extend .sg-b-shadow;
}

.sg-loader {

    .sg-loader-icon {
        height: 30px;
        width: 30px;
        border: 5px dotted white;
        border-left-color: transparent !important;
        border-radius: 100%;
        margin: 10px auto;
        animation: spin 1.5s linear infinite;
    }

    .sg-loader-text {
        color: white;
        text-align: center;
    }
}

.sg-loader-primary {
    .sg-loader-icon {
        border-color: $primary;
    }

    .sg-loader-text {
        color: $primary;
    }
}

.line{
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 100%;
}