.sg-bg-light {
    background: $light;
}

.sg-bg-primary {
    background: $primary;
}

.sg-bg-danger {
    background: $danger;
}

.sg-bg-warning {
    background: $warning;
}

.sg-bg-main {
    background: $layout-bg;
}